<div class="subjects-selector">
	<div class="subjects_list">
		<span class="mdl-chip mdl-chip--contact" v-on:click="selectSubject(subject.subject_id)" v-bind:class="{ selected: subject.subject_id===selectedSubject.subject_id }"
			v-for="subject in subjects" data-key="{{subject.subject_id}}">
			<subject-image v-bind:image-src.sync="subject.image" image-class="mdl-chip__contact"></subject-image>
			<span class="mdl-chip__text">{{subject.name}}</span>
		</span>
	</div>
	<div class="sub_subjects_list">
		<button v-on:click="selectSubSubject(sub_subject)" v-for="sub_subject in subSubjects" type="button"
			class="mdl-chip" data-key="{{sub_subject.sub_subject_id}}" v-bind:class="{ selected: sub_subject.sub_subject_id===selectedSubSubject.sub_subject_id }">
			<span class="mdl-chip__text">{{sub_subject.sub_subject_name}}</span>
		</button>
	</div>
</div>
