<modal-dialog :class="'prompt no-header ' + modalClass" :origin="origin">
	<form @submit.prevent="accept" class="{{customClass}}">
		<div class="message larger">{{{message}}}</div>

		<p class="error" v-if="!isValid" transition="fade-in-out">
			{{ validationError }}
		</p>

		<p class="prompt" v-if="!fields">
			<input type="text" class="block" required v-model="response" v-el:response>
		</p>
		<p class="prompt" v-else>
			<ul v-el:response_fields>
				<li v-for="(index, field) in fields">
					<input placeholder="{{field.label}}" v-if="field.type !== 'select'" type="{{field.type}}" id="field{{index}}" class="block" required v-model="response[field.name]">
					<select v-else v-model="response[field.name]">
						<option value="" selected>בחר כיתה</option>
						<option v-for="schoolClass in field.options" :value="schoolClass">
							{{schoolClass.school + ' ' + schoolClass.class + ' ' + schoolClass.town}}
						</option>
					</select>
				</li>
			</ul>
		</p>

		<p class="buttons">
			<button type="button" @click="cancel">{{{cancelLabel}}}</button>
			<button type="submit" :class="buttonClass">{{{buttonLabel}}}</button>
		</p>
	</form>
</modal-dialog>
