<div style="width: 100%; display: table; position: absolute; left: 0;">
	<div style="display: table-row">
		<!--<div style="width: 30%; display: table-cell; margin-bottom: 10px;">
			<div style="margin-left: 10px; margin-top: 10px; margin-bottom: 10px;"><strong>Comments</strong></div>
			<div class="story-comments" style="">
				<comment-item v-for="comment in storyComments.comments" :comment="comment"></comment-item>
			</div>
		</div>-->
		<div style="display: table-cell;">
			<div id="storyEditView" :style="cssDimensions" class="{{ 'zoom-' + zoomDesc }}" @webkitmouseforcedown="onMouseForceDown" @wheel="onWheel" v-mouse-scrolling>
				<div class="passages">
					<marquee-selector :story="story"></marquee-selector>
					<link-arrows :passages="story.passages" :positions="passagePositions" :zoom="story.zoom"></link-arrows>

					<passage-item v-for="passage in story.passages" :passage="passage" :parent-story="story" :screen-drag-offset-x="screenDragOffsetX" :screen-drag-offset-y="screenDragOffsetY" :highlight-regexp="highlightRegexp" :grid-size="gridSize" transition="grow-in-out" v-ref:passages track-by="id"></passage-item>
				</div>
				<story-toolbar :story="story" :highlight-regexp="highlightRegexp" :zoom-desc="zoomDesc" ></story-toolbar>
			</div> <!-- #storyEditView -->
		</div>
	</div>
</div>

