<slide-panel id="passageEditModal" class="editor" :can-close="canClose" :can-widen="true" :origin="origin"
	@destroyed="dialogDestroyed" v-ref:modal panel-size="large" :panel-title="userPassageName">

	<div slot="panel-body">
		<span slot="title">
			<input type="text" id="passageName" placeholder="{{ 'Passage Name' | say }}" v-model="userPassageName">
		</span>

		<p class="error" v-if="!userPassageNameValid">
				{{ 'A passage already exists with this name.' | say }}
			</p>
			<div class="expand">
			<froala :options="fOptions" :text="passage.text" @f-change="saveText"></froala>
				<!--<tags-selector></tags-selector>-->
				
					<!--	<code-mirror :options="cmOptions" :text="passage.text" @cm-change="saveText" v-ref:codemirror></code-mirror>-->
				
				</div> <!-- .fullEdit -->

	</div>

	
		<div slot="panel-actions"></div>
</slide-panel>
