<div class="contact-list">
	<div class="search">
		<input type="text" placeholder="{{'search' | say}}" v-model="contantSearch"/>
		<i class="fa fa-search"></i>
	</div>
	<ul class="list" style="overflow: auto; height: calc(500px - 105px);">

		<li class="clearfix" v-for="person in students | filterContacts" v-on:click="selectTo(person)"
			v-bind:class="{ selected: person.id===selectedContact.id }">
			<person-image :person="person"></person-image>
			<div class="about">
				<div class="name">{{ person.first_name }} {{ person.surname }}</div>
				<div class="status">
					<i class="fa fa-circle online"></i> {{roles[person.role] | say}}
				</div>
			</div>
		</li>
	</ul>
</div>