<div class="stories-list">
	<ul class="demo-list-two mdl-list"  >
		<li class="mdl-list__item mdl-list__item--two-line" v-for="story in stories | storiesInLesson | excludedStories | orderBy order"
		data-story-id="{{story.id}}" data-order="{{story.order}}">
			<span class="mdl-list__item-primary-content">
				<span>{{story.name}}</span>
				<span class="mdl-list__item-sub-title">{{story.description}}</span>
			</span>
			<span class="mdl-list__item-secondary-content">
				<span class="mdl-list__item-secondary-info">{{story.order}}</span>
				<a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
			</span>
		</li>
	</ul>
</div>