<div class="lesson-view">
	<div class="lesson">
		<div class="demo-card-square mdl-card mdl-shadow--2dp">
			<div class="mdl-card__title mdl-card--expand">
				<h2 class="mdl-card__title-text">{{lesson.name}}</h2>
			</div>
			<div class="mdl-card__supporting-text">
				<h6 class="lesson-detail-header"> Description: </h6>
				<h6 class="lesson-detail"> {{lesson.description}} </h6>
				<h6 class="lesson-detail-header"> Goals: </h6>

				<span class="mdl-chip" v-for="goal in lesson.goals">
					<span
						class="mdl-chip__text">{{(goalsDict[goal.goal_id] ||{name:''}).name}}</span>
				</span>

				<h6 class="lesson-detail-header"> Main Subjects: </h6>
				<span class="mdl-chip" v-for="es in extractSubjects">
					<span class="mdl-chip__text">{{es}}</span>
				</span>
			</div>
		</div>
	</div>
	<div class="stories">
		<div class="demo-card-square mdl-card mdl-shadow--2dp">
			<div class="mdl-card__title mdl-card--expand">
				<h2 class="mdl-card__title-text">Stories</h2>
			</div>
			<div class="mdl-card__supporting-text">
				<stories-list :stories-list="lesson.stories"></stories-list>
			</div>
		</div>
	</div>
</div>
