<div class="sign-up">

	<div class="demo-card-wide mdl-card mdl-shadow--2dp">
		<div class="mdl-card__title">
			<h2 class="mdl-card__title-text">הרשמה</h2>
		</div>
		<div class="mdl-card__supporting-text">

			<div class="mdl-grid">
				<div class="mdl-cell mdl-cell--6-col">
					<div class="mdl-textfield mdl-js-textfield">
						<input class="mdl-textfield__input" type="text" id="insert_sign_up_first_name" name="firstName"
							v-model="firstName" pattern="\w{2,}" form-required>
						<label class="mdl-textfield__label" for="insert_sign_up_first_name">שם פרטי</label>
						<span class="mdl-textfield__error">הזן לפחות שני תווים</span>
					</div>
				</div>
				<div class="mdl-cell mdl-cell--6-col">
					<div class="mdl-textfield mdl-js-textfield">
						<input class="mdl-textfield__input" type="text" id="insert_sign_up_surname" name="Surname"
							v-model="surname" pattern="\w{2,}" form-required>
						<label class="mdl-textfield__label" for="insert_sign_up_surname">שם משפחה</label>
						<span class="mdl-textfield__error">הזן לפחות שני תווים</span>
					</div>
				</div>
			</div>
			<div class="mdl-grid">
				<div class="mdl-cell mdl-cell--8-col">
					<div class="mdl-textfield mdl-js-textfield">
						<input class="mdl-textfield__input" type="text" id="insert_sign_up_email" name="email"
							v-model="email" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" form-required>
						<label class="mdl-textfield__label" for="insert_sign_up_email">כתובת מייל</label>
						<span class="mdl-textfield__error">הזן כתובת תקינה</span>
					</div>
				</div>
				<div class="mdl-cell mdl-cell--4-col">
					<div class="mdl-textfield mdl-js-textfield">
						<input class="mdl-textfield__input" type="text" id="insert_sign_up_password" name="password"
							v-model="password" pattern="\w{6,}" form-required>
						<label class="mdl-textfield__label" for="insert_sign_up_password">סיסמא</label>
						<span class="mdl-textfield__error">הזן לפחות 6 תווים</span>
					</div>
				</div>
			</div>
			<div class="mdl-grid">
				<div class="mdl-cell mdl-cell--6-col">
					<div class="mdl-textfield mdl-js-textfield">
						<input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="insert_sign_up_phone" name="phone"
							v-model="phone" pattern="-?[0-9]*(\.[0-9]+)?" form-required>
						<label class="mdl-textfield__label" for="insert_sign_up_phone">מספר טלפון</label>
						<span class="mdl-textfield__error">הזן מספר תקין</span>
					</div>
				</div>

				<div class="mdl-cell mdl-cell--6-col">
					<div class="mdl-textfield mdl-js-textfield">
						<input class="mdl-textfield__input" type="text" id="insert_sign_up_birth_date" name="birthDate"
							v-model="birthDate" placeholder="dd/mm/yyyy" pattern="^\d{1,2}\/\d{1,2}\/\d{4}$" form-required>
						<label class="mdl-textfield__label" for="insert_sign_up_birth_date">תאריך לידה</label>
						<span class="mdl-textfield__error">הזן תאריך תקין</span>
					</div>
				</div>
			</div>
		</div>
		<div class="mdl-card__actions mdl-card--border">
			<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" v-on:click="signUpDelegate" :disabled="isDisabled" >
				הרשמה
			</a>
		</div>
	</div>
</div>