<div class="insights-view">
	<div class="mdl-grid">
		<div class="mdl-cell mdl-cell--4-col ">
			<count-sub-subjects></count-sub-subjects>
		</div>
		<div class="mdl-cell mdl-cell--4-col ">
			<count-subjects></count-subjects>
		</div>
		<div class="mdl-cell mdl-cell--4-col ">
			<count-tasks></count-tasks>
		</div>
	</div>
	<div class="mdl-grid">
		<div class="mdl-cell mdl-cell--8-col ">
			<count-grades></count-grades>
		</div>
		<div class="mdl-cell mdl-cell--4-col ">
			<completed-tasks></completed-tasks>
		</div>
	</div>
	<div class="mdl-grid">
		<div class="mdl-cell mdl-cell--12-col ">
			<time-usages></time-usages>
		</div>
	</div>
</div>