<div class="story-form">
	<div class="mdl-grid">
		<div class="mdl-cell mdl-cell--6-col">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" id="insert_story_name" name="story_name"
					v-model="obj.name">
				<label class="mdl-textfield__label" for="insert_story_name">Story Name</label>
			</div>
		</div>

		<div class="mdl-cell mdl-cell--6-col">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" id="insert_story_description" name="story_description"
					v-model="obj.description">
				<label class="mdl-textfield__label" for="insert_story_description">Story Description</label>
			</div>
		</div>

	</div>

	<subjects-selector v-bind:selected-subject.sync="sbj" v-bind:selected-sub-subject.sync="subject">
	</subjects-selector>

	<tags-selector v-bind:tags.sync="obj.tags"></tags-selector>
	<status-selector v-bind:selected-status.sync="obj.status" statuses-filter="1,2,4,6"></status-selector>
</div>
