<div class="content">  <!-- For Demo Only -->
    <a href="" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored modal__trigger" data-modal="#modal">
      Launch Modal
    </a>

    <div id="modal" class="modal modal__bg">
      <div class="modal__dialog">
        <div class="modal__content">
          <div class="modal__header">
            <div class="modal__title">
              <h2 class="modal__title-text">{{modalTitle}}</h2>
            </div>

            <span class="mdl-button mdl-button--icon mdl-js-button  material-icons  modal__close"></span>
          </div>


          <div class="modal__text">
            <p>
                    <slot name="modal-text"> </slot>
            </p>
          </div>

          <div class="modal__footer">
            <a class="mdl-button mdl-button--colored mdl-js-button  modal__close">
              Close
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>