<div class=" list-container">
	<div class="group-by-buttons">
		<button v-for="field in availableGroupFields" v-bind:class="{ selected: field===groupByField }"
			v-on:click="setGroupByField(field)" class="mdl-button mdl-js-button mdl-js-ripple-effect">
			{{field | say }}
		</button>
	</div>

	<div class="demo-card-wide mdl-card mdl-shadow--2dp" v-for="(groupValue, groupName) in groupByList">
		<h6 class="group-header">{{groupByField}} : {{groupValue}} ({{groupName.length}})</h6>

		<table class="mdl-data-table mdl-js-data-table">
			<thead>
				<tr>
					<th class="mdl-data-table__cell--non-numeric"></th>
					<th class="mdl-data-table__cell--non-numeric">{{'Role' | say}}</th>
					<th class="mdl-data-table__cell--non-numeric">{{'Status' | say}}</th>
					<th class="mdl-data-table__cell--non-numeric">{{'First Name' | say}}</th>
					<th class="mdl-data-table__cell--non-numeric">{{'Surname' | say}}</th>
					<th class="mdl-data-table__cell--non-numeric">{{'Email' | say}}</th>
					<th class="mdl-data-table__cell--non-numeric">{{'Phone' | say}}</th>
					<th class="mdl-data-table__cell--non-numeric">{{'School' | say}}</th>
					<th class="mdl-data-table__cell--non-numeric">{{'Class' | say}}</th>
					<th class="mdl-data-table__cell--non-numeric">{{'City' | say}}</th>
					<th class="mdl-data-table__cell--non-numeric">{{'Birth Date' | say}}</th>
					<th class="mdl-data-table__cell--non-numeric">{{'Created Date' | say}}</th>
					<th class="mdl-data-table__cell--non-numeric">{{'Update Date' | say}}</th>

				</tr>
			</thead>
			<tbody>
				<tr v-for="person in groupName" v-on:click="openPersonDelegate(person.id, person)">
					<td class="mdl-data-table__cell--non-numeric">
						<person-image image-class="img-avatar" :person="person"></person-image>
					</td>
					<td class="mdl-data-table__cell--non-numeric">{{ person.role | say }}</td>
					<td class="mdl-data-table__cell--non-numeric"><i class="material-icons">
							{{person.status |statusIcon }}</i></td>
					<td class="mdl-data-table__cell--non-numeric">{{ person.first_name }}</td>
					<td class="mdl-data-table__cell--non-numeric">{{ person.surname }}</td>
					<td class="mdl-data-table__cell--non-numeric">{{person.email}}</td>
					<td class="mdl-data-table__cell--non-numeric">{{person.phone}}</td>
					<td class="mdl-data-table__cell--non-numeric">{{person.school}}</td>
					<td class="mdl-data-table__cell--non-numeric">{{person.grade}}</td>
					<td class="mdl-data-table__cell--non-numeric">{{person.city}}</td>
					<td class="mdl-data-table__cell--non-numeric">{{person.birth_date | moment}}</td>
					<td class="mdl-data-table__cell--non-numeric">{{person.created_date | moment}}</td>
					<td class="mdl-data-table__cell--non-numeric">{{person.last_modified | moment}}</td>
				</tr>
			</tbody>
		</table>

	</div>



	<!--	
<div   v-for="person in students">

<div class="demo-card-wide mdl-card mdl-shadow--2dp">
	<div class="mdl-card__title" v-on:click="expandCard">
		<h2 class="mdl-card__title-text"> {{ person.first_name }} {{ person.surname }}</h2>
	</div>
	<div class="mdl-card__supporting-text hidden" expandedable>
		<img class="avatar_image" src="./images/student-avatar.png" />

		<div class="mdl-tabs mdl-js-tabs">
			<div class="mdl-tabs__tab-bar">
				<a href="#about-panel" class="mdl-tabs__tab is-active">About</a>
				<a href="#education-panel" class="mdl-tabs__tab">Education</a>
				<a href="#targaryens-panel" class="mdl-tabs__tab">Commounication</a>
			</div>

			<div class="mdl-tabs__panel is-active" id="about-panel">

				<div class="mdl-grid">
					<div class="mdl-cell mdl-cell--4-col">
						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
							<input class="mdl-textfield__input" type="text" id="person_birth_date"
								value="{{person.birth_date | moment}}" disabled>
							<label class="mdl-textfield__label" for="person_birth_date">Birth Date</label>
						</div>
					</div>

					<div class="mdl-cell mdl-cell--4-col">
						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
							<input class="mdl-textfield__input" type="text" id="person_created_date"
								value="{{person.created_date | moment}}" disabled>
							<label class="mdl-textfield__label" for="person_created_date">Created Date</label>
						</div>
					</div>

					<div class="mdl-cell mdl-cell--4-col">
						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
							<input class="mdl-textfield__input" type="text" id="person_last_modified"
								value="{{person.last_modified | moment}}" disabled>
							<label class="mdl-textfield__label" for="person_last_modified">Update Date</label>
						</div>
					</div>

				</div>

				<div class="mdl-grid">
					<div class="mdl-cell mdl-cell--8-col">
						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
							<input class="mdl-textfield__input" type="text" id="person_email" value="{{person.email}}" disabled>
							<label class="mdl-textfield__label" for="person_email">Email</label>
						</div>
					</div>

					<div class="mdl-cell mdl-cell--4-col">
						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
							<input class="mdl-textfield__input" type="text" id="person_phone" value="{{person.phone}}" disabled>
							<label class="mdl-textfield__label" for="person_phone">Phone Number</label>
						</div>
					</div>
				</div>

			</div>
			<div class="mdl-tabs__panel" id="education-panel">

				<span class="mdl-chip">
					<span class="mdl-chip__text">
						<class-row v-bind:class-id="person.class">

						</class-row>
					</span>
				</span>

			</div>
			<div class="mdl-tabs__panel" id="targaryens-panel">
				{{roles[person.role]}}
				{{statuses[person.status]}}
			</div>
		</div>


	</div>
	<div class="mdl-card__actions mdl-card--border hidden" expandedable>
		<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
			Get Started
		</a>
	</div>
	<div class="mdl-card__menu">
		<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
			<i class="material-icons">share</i>
		</button>
	</div>
</div>
	
</div>-->
</div>