<div>
    sfsdfdsfdsfdsjfndsjkfndsjknskj

    <ul class="demo-list-item mdl-list">
            <li v-for="person in students" class="mdl-list__item">
              <span class="mdl-list__item-primary-content">
                    {{ person.first_name }}  {{ person.surname }}
              </span>
            </li>
    </ul>

  
</div>

    <div v-for="person in students" class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title"  v-on:click="expandCard" >
        <h2 class="mdl-card__title-text"> {{ person.first_name }}  {{ person.surname }}</h2>
      </div>
      <div class="mdl-card__supporting-text hidden" expandedable>
        
        {{person.role}}
      
        {{person.birth_date}}
        {{person.created_date}}
        {{person.last_modified}}

        {{roles[person.role]}}
        {{statuses[person.status]}}

      
          

      </div>
      <div class="mdl-card__actions mdl-card--border hidden" expandedable>
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Get Started
        </a>
      </div>
      <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons">share</i>
        </button>
      </div>
    </div>